## Ejercicio 1: Hola Mundo

In [1]:
print("Hola Mundo, esta es mi primera incursión en Python")

Hola Mundo, esta es mi primera incursión en Python

## Ejercicio 2: Ingreso de variables
* Ahora ingrese una serie de datos respecto a su información personal. Esta información debe estar ingresada en variables para su posterior uso. Ingrese los siguientes datos:

In [2]:
nombre = "Eduardo Callejas"

In [3]:
edad = 27

In [4]:
hobbies = ["tocar guitarra","escuchar música","leer"]

In [5]:
mascota = False

## Ejercicio 3: Imprimiendo Variables
* Imprima cada variable creada
    - Acceda al segundo elemento de su lista
* Pida los tipo de datos asociados
* Interpole los datos en un método print para generar una presentación sobre usted.

In [7]:
print(nombre)

Eduardo Callejas

In [8]:
print(edad)

27

In [9]:
print(hobbies)

['tocar guitarra', 'escuchar música', 'leer']

In [10]:
print(hobbies[1])

escuchar música

In [11]:
print(mascota)

False

In [13]:
type(nombre)

str

In [14]:
type(edad)

int

In [15]:
type(hobbies)

list

In [16]:
type(mascota)

bool

In [33]:
print("Mi nombre es "+nombre+", tengo "+str(edad)+" años. Me gusta "+hobbies[1]+" y "+hobbies[2])

Mi nombre es Eduardo Callejas, tengo 27 años. Me gusta escuchar música y leer

## Ejercicio 4: A continuación se presenta una serie de códigos que generan errores. Corrígalos y comente cuáles fueron las fallas

In [34]:
print('Estaba la pájara pinta sentada en el verde limón') # Faltaba el apóstrofe

Estaba la pájara pinta sentada en el verde limón

In [43]:
print('Mi nombre es '+ nombre +'y tengo '+ str(edad)+ ' años') # Faltaba concatenar y la variable name no existía

Mi nombre es Eduardo Callejasy tengo 27 años

In [45]:
import pandas as pd #
import numpy as np # Estaba mal escrito pandas y numpy

In [48]:
"Ornitorrinco" + str(45) # No se pueden sumar distintos tipos, convertí el numero a str.

'Ornitorrinco45'

## Ejercicio 5: Utilizando `pandas` y `numpy`

* Importe `pandas` y `numpy`.
* Posteriormente importe el archivo `flights.csv`.
* Solicite las primeras y últimas 5 observaciones de la tabla de datos.
* Utilice `describe` para obtener las medidas univariadas de la columna `year`.
* Utilice `value_counts` para obtener la frecuencia de meses y años de la tabla.
* Guarde en variables las primeras y últimas 15 observaciones de la tabla.
* Solicite la media, mediana y desviación estandar de la cantidad de pasajeros utilizando los métodos de `numpy`. Replique el procedimiento para las últimas y primeras 15 observaciones. Comente brevemente los resultados.

In [96]:
df = pd.read_csv('flights.csv') #Pandas y Numpy ya están importados

##### Primeros 5

In [87]:
df.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [90]:
df.tail()

     year      month  passengers
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

In [61]:
df['year'].describe()

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
25%      1951.750000
50%      1954.500000
75%      1957.250000
max      1960.000000
Name: year, dtype: float64

In [63]:
df['year'].value_counts()

1960    12
1959    12
1958    12
1957    12
1956    12
1955    12
1954    12
1953    12
1952    12
1951    12
1950    12
1949    12
Name: year, dtype: int64

In [64]:
df['month'].value_counts()

January      12
June         12
September    12
April        12
August       12
December     12
October      12
March        12
July         12
November     12
May          12
February     12
Name: month, dtype: int64

In [68]:
primeros = df.head(15)

In [76]:
ultimos= df.tail(15)

In [ ]:
(df['passengers']).describe()

In [77]:
np.median(df['passengers'])

265.5

In [74]:
(primeros['passengers']).describe()

count     15.000000
mean     126.800000
std       13.126854
min      104.000000
25%      118.000000
50%      126.000000
75%      135.500000
max      148.000000
Name: passengers, dtype: float64

In [93]:
np.mean(primeros['passengers'])

126.8

In [92]:
np.std(primeros['passengers'])

12.681745410891462

In [85]:
np.median(primeros['passengers'])

126.0

In [75]:
(ultimos['passengers']).describe()

count     15.000000
mean     459.200000
std       77.936971
min      362.000000
25%      406.000000
50%      432.000000
75%      490.000000
max      622.000000
Name: passengers, dtype: float64

In [94]:
np.mean(ultimos['passengers'])

459.2

In [95]:
np.std(ultimos['passengers'])

75.29426715671431

In [86]:
np.median(ultimos['passengers'])

432.0

#### A primera vista en el año 60 hubo mayor cantidad de pasajeros que en el año 49, además hay una mayor variación en el número de pasajeros entre vuelo y vuelo