
## Ejercicio 1: Generar un par de arrays ficticios con `numpy`

* _tip:_ utilice la funciÃ³n `linspace` para generar un array entre 1 y 50, y un array entre 50 y 150.

In [56]:
import numpy as np
import pandas as pd

In [25]:
array_1 = np.linspace(1,50)

In [38]:
array_2 =np.linspace(50, 150,101)

Ejercicio 2: Ejecute un loop que devuelva si el número en el primer array es par o impar

In [28]:
for i in array_1:
    if i%2 == 0:
        print(i,"es par")
    else:
        print(i,"es impar")

1.0 es impar
2.0 es par
3.0 es impar
4.0 es par
5.0 es impar
6.0 es par
7.0 es impar
8.0 es par
9.0 es impar
10.0 es par
11.0 es impar
12.0 es par
13.0 es impar
14.0 es par
15.0 es impar
16.0 es par
17.0 es impar
18.0 es par
19.0 es impar
20.0 es par
21.0 es impar
22.0 es par
23.0 es impar
24.0 es par
25.0 es impar
26.0 es par
27.0 es impar
28.0 es par
29.0 es impar
30.0 es par
31.0 es impar
32.0 es par
33.0 es impar
34.0 es par
35.0 es impar
36.0 es par
37.0 es impar
38.0 es par
39.0 es impar
40.0 es par
41.0 es impar
42.0 es par
43.0 es impar
44.0 es par
45.0 es impar
46.0 es par
47.0 es impar
48.0 es par
49.0 es impar
50.0 es par

## Ejercicio 3: Genere un loop con el segundo array que cuente las siguientes condiciones
- Si el número es divisible por 2 o 3
- Si el número es divisible por 2 y 3
- Si el número es divisible por 3 pero no por 2
- si el número no es divisible por 2 ni 3

In [49]:
count_1 = 0
count_2 = 0
count_3 = 0
count_4 = 0
for i in array_2:
    if i%2 == 0 or i%3 == 0:
        count_1 +=1
    if i%2 == 0 and i%3 == 0:
        count_2 +=1
    if i%2 == 0 and i%3 != 0:
        count_3 +=1
    if i%2 != 0 and i%3 != 0:
        count_4 +=1

In [54]:
print("Si el número es divisible por 2 o 3:", count_1)
print("Si el número es divisible por 2 y 3:", count_2)
print("Si el número es divisible por 3 pero no por 2: ", count_3)
print("si el número no es divisible por 2 ni 3:",count_4)

Si el número es divisible por 2 o 3: 68
Si el número es divisible por 2 y 3: 17
Si el número es divisible por 3 pero no por 2:  34
si el número no es divisible por 2 ni 3: 33


## Ejercicio 4
* Utilizando la misma base `flights.csv`

### Hacer un loop  y clasificar los meses con una cantidad de pasajeros menor a la media

* Para ello, generen un nuevo objeto que represente la media de `passengers`.
* Generen una columna en la base de datos que se llame `underperforming` y asígnele 0.
* Ejecuten un loop que recorra cada observación de `passengers`, donde si la observación es menor a la media de `passengers` se le asigne a `underperforming` un 1.
* Para asignar unos en la columna `underperforming` ya creada, utilice la función `set_value`.

In [119]:
df = pd.read_csv('flights.csv')

In [72]:
passengers_media = np.mean(df['passengers'])

In [120]:
passengers_media

280.2986111111111

In [117]:
df.head()

   year     month  passengers  underperforming  outlier
0  1949   January         112                0        1
1  1949  February         118                0        1
2  1949     March         132                0        1
3  1949     April         129                0        1
4  1949       May         121                0        1

In [127]:
df["underperforming"]=0

In [128]:
indice=0
for i in df['passengers']:
    if i > passengers_media:
        df.set_value(indice,'underperforming',1)
    indice+=1

In [129]:
df["underperforming"].value_counts()

0    80
1    64
Name: underperforming, dtype: int64


## Ejercicio 5: Hacer un loop que clasifique los meses donde la cantidad de pasajeros se escapa de la tendencia.

* Para ello, genere dos objetos que guarden la media general y la desviación estandar general de `passengers`.
* Genere una nueva columna en la tabla de datos que se llame `outlier` y asignele 0.
* Ejecuten un loop que recorra cada observación de `passengers`, donde si la observación se escapa de la tendencia sea 1, de lo contrario 0.
* Para clasificar los casos que se escapen la tendencia, la observación debe satisfacer una de las siguientes condiciones:
    - La observación debe ser menor a la  media menos la desviación estándar, o
    - La observación debe ser mayor a la media más la desviación estándar.
    
#### ¿Cuántas observaciones se pueden clasificar como casos extremos?

In [99]:
passengers_std= np.std(df['passengers'])

In [100]:
passengers_std

119.54904153277148

In [123]:
df['outlier']=0

In [124]:
indice=0
for i in df['passengers']:
    if i > (passengers_media+passengers_std) or i <(passengers_media-passengers_std):
        df.set_value(indice,'outlier',1)
    indice+=1

In [109]:
print("Límite menor",passengers_media-passengers_std)
print("Límite mayor", passengers_media+passengers_std)

Límite menor 160.74956957833962
Límite mayor 399.84765264388255

In [110]:
outliers = df[df["outlier"]==1]

In [115]:
n_outliers =outliers['month'].count()

In [116]:
print("Hay",n_outliers,"valores extremos")

Hay 53 valores extremos

In [126]:
df['outlier'].value_counts()

0    91
1    53
Name: outlier, dtype: int64

In [130]:
df.describe()

              year  passengers     outlier  underperforming
count   144.000000  144.000000  144.000000       144.000000
mean   1954.500000  280.298611    0.368056         0.444444
std       3.464102  119.966317    0.483960         0.498638
min    1949.000000  104.000000    0.000000         0.000000
25%    1951.750000  180.000000    0.000000         0.000000
50%    1954.500000  265.500000    0.000000         0.000000
75%    1957.250000  360.500000    1.000000         1.000000
max    1960.000000  622.000000    1.000000         1.000000

In [131]:
pd.__version__

'0.20.1'