![](logo.png)

# Actividad 04 - Funciones y probabilidad básica

* Para poder realizar esta actividad debes haber revisado la lectura correspondiente a la semana.
* Crea una carpeta de trabajo y guarda todos los archivos correspondientes (notebook y csv).
* Una vez terminada la actividad, comprime la carpeta y sube el `.zip` a la sección correspondiente.

## Ejercicio 1: Generación de funciones

* Genere funciones para calcular la media y varianza de un vector. Debe cumplir con los siguientes requistos:
    - Ambas funciones deben ingresar el vector a analizar como un argumento `x`.
    - Las funciones deben contener `docstrings` con la documentación asociada a la variable.
    - Deben __retornar__ el resultado (_tip_: utilice `return`).
    - La función de la varianza debe llamar a la función de la media.
* Utilice las funciones para reportar la información sobre `goles_favor`, `goles_contra`, `puntos` en la base de datos.

In [45]:
import pandas as pd
import numpy as np
df = pd.read_csv("worldcup2014.csv")
df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [1]:
ejemplo = [1,2,3,4,5]

In [9]:
def media(array):
    """
    La función calcula el promedio de un vector
    El argumento array debe ser una serie de datos numéricos.
    """
    mean = sum(array)/len(array)
    return (mean)

In [40]:
def varianza(array):
    """
   La funcion calcula la varianza del vector array-
   Requiere la funcion 'media' que está definida anteriormente
   
    """
    contador=0
    for i in array:
        contador = contador + (i-media(array))**2
    varianza = contador/(len(array))
    return(varianza)

In [34]:
np.var(ejemplo)

2.0

In [41]:
print('La media de los goles a favor', media(df['goles_favor']),'y su varianza es',varianza(df['goles_favor']))
print('La media de los goles en contra es', media(df['goles_contra']),'y su varianza es',varianza(df['goles_contra']))
print('La media de los puntos', media(df['puntos']),'y su varianza es',varianza(df['puntos']))

La media de los goles a favor 4.25 y su varianza es 5.1875
La media de los goles en contra es 4.25 y su varianza es 4.8125
La media de los puntos 4.21875 y su varianza es 8.0458984375


## Ejercicio 2: A continuación se presenta el siguiente código para obtener la media y varianza de una variable para distintos continentes


```python
continent = []
store_mean = []
store_std = []

for d in [africa_df, europe_df, asia_df, northamerica_df, southamerica_df]:
    continent.append(d.iloc[0,1])
    store_mean.append(media(d['goles_favor']))
    store_std.append(varianza(d['goles_favor']))
    
tmp = pd.DataFrame({'continente': continent,
                   'media_goles': store_mean,
                   'std_goles': store_std})

tmp

```

* En base a la información disponible, genere una función con los argumentos `dataframe`, `group_by` y `var` para ingresar una base de datos, una variable para segmentar y una variable a analizar, respectivamente.
* Se debe ingresar la base de datos completa, para que la segmentación se realize __dentro__ de la función.
* La función debe retornar un `DataFrame`.
* Implemente la función para extraer la información sobre la cantidad de goles a favor, en contra y la cantidad de puntos.
* Reporte en qué continente se encuentra la mayor cantidad de goles a favor, en contra y cantidad de puntos.

In [117]:
def agrupar(dataframe, group_by, var):
    group = dataframe[group_by].unique()
    continent = []
    store_mean = []
    store_std = []
    for i in group:
        continent.append(i)
        store_mean.append(media(dataframe[dataframe[group_by]==i][var]))
        store_std.append(varianza(dataframe[dataframe[group_by]==i][var]))
    tmp = pd.DataFrame({'continente': continent,
                   'media': store_mean,
                   'std': store_std})
    return tmp

In [118]:
agrupar(df, 'continent','goles_favor')

     continente     media       std
0  southamerica  5.666667  3.888889
1  northamerica  3.250000  1.687500
2        europe  4.769231  6.331361
3        africa  3.600000  2.640000
4          asia  2.250000  0.687500

In [119]:
agrupar(df, 'continent','goles_contra')

     continente     media       std
0  southamerica  2.833333  0.472222
1  northamerica  3.500000  8.250000
2        europe  4.000000  3.538462
3        africa  5.600000  3.840000
4          asia  6.250000  3.187500

In [120]:
agrupar(df, 'continent','puntos')

     continente     media       std
0  southamerica  6.833333  3.138889
1  northamerica  4.500000  8.250000
2        europe  4.692308  6.366864
3        africa  2.400000  2.640000
4          asia  0.750000  0.187500

La mayor cantidad de goles a favor es en sudamérica.   
La mayor cantidad de goles en contra es a Asia.  
La mayor cantidad de puntos es Sudamérica


## Ejercicio 3: Simulaciones

* Genere una función `generate_pet` que devuelva de forma aleatoria un string `'perro'` o `'gato'`. Ejecútela un par de veces.
    - _tip:_ Puede utilizar la función `np.random.choice` para retornar elementos al azar.

* Aplique la función `generate_pet` 20 veces mediante un loop y guarde los resultados en una lista.
    - _tip:_ Puede generar una lista vacía con `[ ]` y asignarla a un objeto. Puede añadir elementos a la lista con `.append`.
    - _tip:_ Puede generar loops `for _ in <rango>`, donde la declaración de `_` permite ejecutar las expresiones n veces.
* ¿Cuál es la probabilidad de elegir un perro al azar? ¿Y un gato?

* Agrege `np.random.seed(2)` al inicio del chunk. ¿Qué hace éste método en la simulación?

In [131]:
def generate_pet():
    return(np.random.choice(['gato','perro']))

In [162]:
mascotas = []
for i in range(20):
    mascotas.append((generate_pet()))

In [164]:
pd.Series(mascotas).value_counts(True)

gato     0.55
perro    0.45
dtype: float64

La probabilidad depende de los numeros generados aleatoriamente, en este caso es 55% para gato y 45% para perro.

In [183]:
np.random.seed(1)
mascotas2 = []
for i in range(20):
    mascotas2.append((generate_pet()))

In [184]:
pd.Series(mascotas2).value_counts(True)

perro    0.55
gato     0.45
dtype: float64

El seed hace que el random choice se mantenga constante aunque la función se ejecute nuevamente

## Ejercicio 4: Función simuladora

* Genere un método llamado `simulate_pets_prob` que tome como argumento un número finito de simulaciones a generar.
* El método debe simular dos situaciones, `young_pet` y `old_pet`, y contar la ocurrencia de los siguientes casos:
    1. De los dos animales simulados, contar las ocasiones donde por lo menos uno de los animales sea un perro.
    - De los dos animales simulados, contar las ocasiones donde por lo menos uno sea un perro viejo.
    - De los dos animales simulados, contar las ocasiones donde los dos sean perros
* El método debe tener una semilla pseudoaleatoria de 1.
* De los tres escenarios, ¿Cuál es el menos probable? ¿Cuál es el más probable?

In [243]:
def simulate_pets_prob(nsimulaciones):
    np.random.seed(2)
    condicion_1 = 0
    condicion_2 = 0
    condicion_3 = 0
    for i in range(nsimulaciones):
        yp = generate_pet()
        op = generate_pet()
        # print(yp,op)
        if yp == 'perro' or op == 'perro':
            condicion_1 +=1
        if op == 'perro':
            condicion_2 +=1
        if yp == 'perro' and op == 'perro':
            condicion_3 +=1
    print('Casos donde al menos uno de los animales es un perro:', condicion_1)
    print('Casos donde la mascota vieja es un perro:', condicion_2)
    print('Casos donde ambas mascotas son perros:',condicion_3)

In [245]:
simulate_pets_prob(1000)

Casos donde al menos uno de los animales es un perro: 762
Casos donde la mascota vieja es un perro: 515
Casos donde ambas mascotas son perros: 260

El más probable es el caso 1,y el menos probable es el caso 3.